@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Trispace:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Trispace:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

}

body {
  background-color: #cdae98;
}

a,
ul {
  text-decoration: none;
  list-style: none;
  color: #000;
}

/* Index */

.gridPadre {
  display: grid;
  grid-template-areas:
    "hea hea"
    "mai mai"
    "sec sec"
    "foo foo"

  ;

}

.hea {
  grid-area: hea;
}

.mai {
  grid-area: mai;
}

.sec {
  grid-area: sec;
}

.foo {
  grid-area: foo;
}

.menuPrincipal {
  background-color: #432818;
  outline: #000 .2vw solid;
}

.navPrincipal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;


}

.navHijos,
.navHijos a,
.navHijos input {
  font-family: 'Trispace', sans-serif;
  font-weight: bold;
  font-size: 1vw;
}

.navHijos,
.navHijos input {
  color: #000;
  border-radius: 1vw;
  background-color: #cdae98;
  padding: .5vw .5vh;
  font-family: 'Trispace', sans-serif;
  border: none;
}

.navegador {
  border-radius: 1vh;
  background-color: #432818;
  padding: .3vw .3vh;
}

.navegador input {
  width: 30vw;
}

.imagen img {
  width: 8vw;
}

.imag {
  width: 3vw;
}

.encabezado {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 1vw;
}



.videoIntro {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1vw 1vh;
}

.videoIntro iframe {
  background-color: #432818;
  padding: 1vw 2vh;
  border-radius: 1vw;
}

.videoIntro p {
  width: 50vw;
  padding: 1vw 1vh;
  border-radius: 1vw;
  color: #000;
  font-size: 1.2vw;
  font-weight: bolder;
}

.mov {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: auto;

}

.img {
  padding: 1.5vw;
  width: 20.8vw;
  height: 62vh;
  margin: 1.5vw;
  background-color: #432818;
  border-radius: 1vw;
}

.coctel img,
.pastel img,
.frutal img,
.tostados img,
.cafe img,
.mofin img {
  width: 20vw;
  height: 41vh;
  border-radius: 0.8vw;
  border: #000 solid 0.20833333333333334vw;
}

.img h3,
.img p,
.img span {
  color: #fff;
  font-size: 1vw;
}

.img span {
  position: relative;
  left: 17vw;
  top: 4vh;
  background-color: #000;
  padding: 0.5vw;
  border-radius: 2vw;
}

footer {
  background-color: #967055;
}

.footerUno {
  padding: 1vw 6vh;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.redes img,
.footerUno h4 {
  width: 3vw;
  padding: 0.3vh;
}

/* Menu  */

.gridMenu{
  display: grid;
  grid-template-areas:
  "heaMenu heaMenu heaMenu"
  "maiMenu maiMenu maiMenu"
  "fooMenu fooMenu fooMenu"
  
  
  ;
}

.heaMenu{
  grid-area: heaMenu;
}

.maiMenu{
  grid-area: maiMenu;
}

.fooMenu{
  grid-area: fooMenu;
}

.catalogo {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin: 1vw;
  padding: 0.5vw;
  background-color: #432818;
  border-radius: 0.5vw;
}

.padreCatalogo {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.catalogo li {
  color: #e16309;
  font-size: 1.2vw;
}

.list li {
  font-size: 0.9vw;
  color: #fff;
}

.movi,
.mov2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 1vw;
  border-radius: 1vw;
  margin: 0.5vw;



}

.movi h2,
.mov2 h2 {
  padding: 1vw;

}

.cata {
  background-color: #cdae98;
  border-radius: 1vw;
  margin: 0.25vw;
}

.cata h3,
.cata p {
  padding: 0.5vw;
}

/* ubicacion */

.informacionPrincipal {
  margin: 0.5vw;
  font-size: 1vw;
  font-weight: bold
}

.locales {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-size: 30px;
}

.locales ul {
  background-color: #432818;
  height: 33vh;
  padding: 1vw;
  border-radius: 1.5vw;
  color: #fff;
  font-weight: bold;
}

.mapsHijo {
  background-color: #432818;
  padding: 1vw;
  border-radius: 1vw;
  margin: 0.5vw;
}

.mapsHijo iframe {
  width: 65.10416666666667vw;
  height: 57.232049947970864vh;
}

/* Cuenta */


.formPadre {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 14.4vh;
}

.formPadre img {
  width: 20vw;
}

.formHijo label {
  font-weight: bolder;
  font-size: 1vw;
}

.uni {
  background-color: #eddbc9;
  margin: 0.25vw;
  padding: 0.25vw;
  border-radius: 1vw;
  border: none;
}



.formHijo {
  background-color: #432818;
  width: 20vw;
  padding: 1vw;
  color: #000;
  border-radius: 1vw;
  margin: 0.5vw;
}

.formHijo input {
  margin: 0.5vw;
}

.registro {
  font-size: 1.25vw;
  font-weight: bolder;
}


.uno .uni {
  margin: 40px 0px -30px 30px;
}

.uno a {
  display: inline-block;
  text-decoration: none;
  color: #5177ba;
  margin: 5.2vh 0vw 0vh 7.8vw;
  font-size: 1vw;
}

.formHijo h2 {
  margin: 0vh 7.8vw;
  color: #ffffff;
  font-weight: bold;
}


.cuentaHr {
  height: 46.8vh;
  width: .05vw;
  border-width: 0;
  color: #000;
  background-color: #000;
}


/* Carrito de compras */

.bordeCarrito {
  background-color: #432818;
  border-radius: 2vw;
  margin: 1vw;
  height: 57.2vh;
}

.carritoPadre {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 1vw;
}

.pedido {
  margin-top: 5vw;
  font-size: 1.5vw;
}

.dik {
  width: 10vw;
  border: 0.20833333333333334vw #000 solid;
}

.particion h2 {
  margin: 1vw;
  padding: 0.5vw;
  background-color: #eddbc9;
  border-radius: 2vw;

}

@media (max-width:1024px){
  .gridPadre {
    display: grid;
    grid-template-areas:
      "hea hea hea"
      "mai mai mai"
      "sec sec sec"
      "foo foo foo"
    ;
  }

  /* index */

  .menuFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

  
  }


  .navPrincipal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 60vw;
    padding: 1vw;
  }

  .navHijos,
  .navHijos a,
  .navHijos input {
    font-family: 'Trispace', sans-serif;
    font-weight: bold;
    font-size: 2vw;
  }


  .navHijos,
  .navHijos input {
    color: #000;
    border-radius: 1vw;
    background-color: #cdae98;
    padding: .5vw .5vh;
    font-family: 'Trispace', sans-serif;
    border: none;
  }

  .imagen img {
    width: 15vw;
  }

  .imag img {
    width: 7vw;
  }

  .menuPrincipal {
    background-color: #432818;
    outline: #000 .2vw solid;
  }

  .navegador input {
    width: 20vw;
  }

  .videoIntro {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2vw 1vh;
  }

  .videoIntro iframe {
    background-color: #432818;
    padding: 1vw 2vh;
    border-radius: 1vw;
    width: 70vw;
    height: 50vh;
  }

  .videoIntro p {
    display: none;
  }

  .encabezado {
    font-size: 2.5vw;
    font-weight: bold;
    margin: .5vw;
  }


  .mov {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    width: 90vw;

  }

  .img {
    padding: 1.5vw;
    width: 35vw;
    height: 70vh;
    background-color: #432818;
    border-radius: 1vw;
  }

  .coctel img,
  .pastel img,
  .frutal img,
  .tostados img,
  .cafe img,
  .mofin img {
    width: 34vw;
    height: 30vh;
    border-radius: 0.8vw;
    border: #000 solid 0.20833333333333334vw;
  }

  .img h3,
  .img p,
  .img span {
    color: #fff;
    font-size: 2.5vw;
  }

  .img span {
    position: relative;
    left: 27vw;
    top: 10vh;
    background-color: #000;
    padding: 0.5vw;
    border-radius: 2vw;
  }

  footer {
    background-color: #967055;
  }

  .footerUno ul {
    padding: 1vw 6vh;
    display: none;
    flex-flow: row;
    justify-content: space-evenly;
    font-size: 2.5vw;
  }

  .redes h4 {
    height: 8vh;
    width: 50vw;
    font-size: 4vw;


  }

  .redes img {
    margin: 2vw;
    width: 6vw;
    padding: 0.3vh;
  }
  /* Menu */

  .catalogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1vw;
    padding: 0.5vw;
    background-color: #432818;
    border-radius: 0.5vw;

  }

  .padreCatalogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90vw;
  }

  .catalogo li {
    color: #e16309;
    font-size: 2vw;
    margin: 1vw;
  }

  .list li {
    font-size: 1.5vw;
    color: #fff;
  }

  .movi,
  .mov2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 1vw;
    border-radius: 1vw;
    margin: 0.5vw;
  }

  .movi h2,
  .mov2 h2 {
    padding: 1vw;

  }

  .cata img {
    width: 15vw;
    border-radius: 1vw;
  }

  .cata {
    background-color: #cdae98;
    width: 15vw;
    border-radius: 1vw;
    margin: 0.25vw;
  }

  .cata h3,
  .cata p {
    font-size: 2vw;
    padding: 0.5vw;
  }

  /* Ubicacion */

  .informacionPrincipal {
    margin: 1vw;
    font-size: 1.5vw;
    font-weight: bold
  }

  .locales {
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 3vw;
  }

  .locales ul {
    background-color: #432818;
    width: 40vw;
    padding: 1vw;
    border-radius: 1.5vw;
    color: #fff;
    font-weight: bold;
    margin: 1vw;
  }

  .mapsHijo {
    background-color: #432818;
    padding: 1vw;
    border-radius: 1vw;
    margin: 0.5vw;
  }

  .mapsHijo iframe {
    width: 45vw;
    height: 50vh;
  }

  /* Cuenta */

  .cuentaGrid {
    display: grid;
    grid-template-areas:
      "img uno dos"
    ;
  }

  .imgGrid {
    grid-area: img;
  }

  .uno {
    grid-area: uno;
  }

  .dos {
    grid-area: dos;
  }

  .formPadre img {
    width: 30vw;
    /* transform: translate(25vw); */
  }

  .formHijo label {
    font-weight: bolder;
    font-size: 1.5vw;
  }

  .uni {
    background-color: #eddbc9;
    margin: 0.25vw;
    padding: 0.25vw;
    border-radius: 1vw;
    border: none;
  }



  .formHijo {
    background-color: #432818;
    width: 30vw;
    padding: 1vw;
    color: #000;
    border-radius: 1vw;
    margin: 0.5vw;
    margin-bottom: 11vh;
  }

  .formHijo input {
    margin: 0.5vw;
    width: 27.5vw;
  }

  .formHijo label{
    width: 10vw;
    text-align: center;
  }

  .registro {
    font-size: 1.5vw;
    font-weight: bolder;
  }


  .uno .uni {
    margin: 2vh 0px 0vw 1vw;
  }

  .uno a {
    display: inline-block;
    text-decoration: none;
    color: #5177ba;
    margin-top: 3.2vh;
    margin-left: 7.8vw;
    font-size: 1.5vw;
    font-weight: bold;
  }

  .formHijo h2 {
    margin: 0vh 7.8vw;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 2.5vw;
  }


  .cuentaHr {
    height: 46.8vh;
    width: .05vw;
    border-width: 0;
    color: #000;
    background-color: #000;
    display: none;
  }

  .flexPadre {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin: 0.5vh;
  }

  .flexPadre input{
    margin-bottom: 0.2vh;

  }
}

@media (max-width:768px) {


  .gridPadre {
    display: grid;
    grid-template-areas:
      "hea hea hea"
      "mai mai mai"
      "sec sec sec"
      "foo foo foo"
    ;
  }

  /* index */

  .menuFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

  
  }


  .navPrincipal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 60vw;
    padding: 1vw;
  }

  .navHijos,
  .navHijos a,
  .navHijos input {
    font-family: 'Trispace', sans-serif;
    font-weight: bold;
    font-size: 2vw;
  }


  .navHijos,
  .navHijos input {
    color: #000;
    border-radius: 1vw;
    background-color: #cdae98;
    padding: .5vw .5vh;
    font-family: 'Trispace', sans-serif;
    border: none;
  }

  .imagen img {
    width: 15vw;
  }

  .imag img {
    width: 7vw;
  }

  .menuPrincipal {
    background-color: #432818;
    outline: #000 .2vw solid;
  }

  .navegador input {
    width: 20vw;
  }

  .videoIntro {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2vw 1vh;
  }

  .videoIntro iframe {
    background-color: #432818;
    padding: 1vw 2vh;
    border-radius: 1vw;
    width: 70vw;
    height: 50vh;
  }

  .videoIntro p {
    display: none;
  }

  .encabezado {
    font-size: 2.5vw;
    font-weight: bold;
    margin: .5vw;
  }


  .mov {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    width: 90vw;

  }

  .img {
    padding: 1.5vw;
    width: 35vw;
    height: 55vh;
    background-color: #432818;
    border-radius: 1vw;
  }

  .coctel img,
  .pastel img,
  .frutal img,
  .tostados img,
  .cafe img,
  .mofin img {
    width: 34vw;
    height: 30vh;
    border-radius: 0.8vw;
    border: #000 solid 0.20833333333333334vw;
  }

  .img h3,
  .img p,
  .img span {
    color: #fff;
    font-size: 2.5vw;
  }

  .img span {
    position: relative;
    left: 27vw;
    top: 2vh;
    background-color: #000;
    padding: 0.5vw;
    border-radius: 2vw;
  }

  footer {
    background-color: #967055;
  }

  .footerUno ul {
    padding: 1vw 6vh;
    display: none;
    flex-flow: row;
    justify-content: space-evenly;
    font-size: 2.5vw;
  }

  .redes h4 {
    height: 8vh;
    width: 50vw;
    font-size: 4vw;


  }

  .redes img {
    margin: 2vw;
    width: 6vw;
    padding: 0.3vh;
  }
  /* Menu */

  .catalogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1vw;
    padding: 0.5vw;
    background-color: #432818;
    border-radius: 0.5vw;

  }

  .padreCatalogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90vw;
  }

  .catalogo li {
    color: #e16309;
    font-size: 2.5vw;
    margin: 1vw;
  }

  .list li {
    font-size: 2vw;
    color: #fff;
  }

  .movi,
  .mov2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 1vw;
    border-radius: 1vw;
    margin: 0.5vw;
  }

  .movi h2,
  .mov2 h2 {
    padding: 1vw;

  }

  .cata img {
    width: 15vw;
    border-radius: 1vw;
  }

  .cata {
    background-color: #cdae98;
    width: 15vw;
    border-radius: 1vw;
    margin: 0.25vw;
  }

  .cata h3,
  .cata p {
    font-size: 2vw;
    padding: 0.5vw;
  }

  /* Ubicacion */

  .informacionPrincipal {
    margin: 1vw;
    font-size: 2vw;
    font-weight: bold
  }

  .locales {
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 3vw;
  }

  .locales ul {
    background-color: #432818;
    width: 40vw;
    padding: 1vw;
    border-radius: 1.5vw;
    color: #fff;
    font-weight: bold;
    margin: 1vw;
  }

  .mapsHijo {
    background-color: #432818;
    padding: 1vw;
    border-radius: 1vw;
    margin: 0.5vw;
  }

  .mapsHijo iframe {
    width: 45vw;
    height: 50vh;
  }

  /* Cuenta */

  .cuentaGrid {
    display: grid;
    grid-template-areas:
      "img uno dos"
    ;
  }

  .imgGrid {
    grid-area: img;
  }

  .uno {
    grid-area: uno;
  }

  .dos {
    grid-area: dos;
  }

  .formPadre img {
    width: 30vw;
    /* transform: translate(25vw); */
  }

  .formHijo label {
    font-weight: bolder;
    font-size: 1.5vw;
  }

  .uni {
    background-color: #eddbc9;
    margin: 0.25vw;
    padding: 0.25vw;
    border-radius: 1vw;
    border: none;
  }



  .formHijo {
    background-color: #432818;
    width: 30vw;
    padding: 1vw;
    color: #000;
    border-radius: 1vw;
    margin: 0.5vw;
    margin-bottom: 11vh;
  }

  .formHijo input {
    margin: 0.5vw;
    width: 27.5vw;
  }

  .formHijo label{
    width: 10vw;
    text-align: center;
  }

  .registro {
    font-size: 1.5vw;
    font-weight: bolder;
  }


  .uno .uni {
    margin: 2vh 0px 0vw 1vw;
  }

  .uno a {
    display: inline-block;
    text-decoration: none;
    color: #5177ba;
    margin-top: 3.2vh;
    margin-left: 7.8vw;
    font-size: 1.5vw;
    font-weight: bold;
  }

  .formHijo h2 {
    margin: 0vh 7.8vw;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 2.5vw;
  }


  .cuentaHr {
    height: 46.8vh;
    width: .05vw;
    border-width: 0;
    color: #000;
    background-color: #000;
    display: none;
  }

  .flexPadre {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin: 0.5vh;
  }

  .flexPadre input{
    margin-bottom: 0.2vh;

  }

}


@media (max-width:480px) {
  .gridPadre {
    display: grid;
    grid-template-areas:
      "hea hea hea"
      "mai mai mai"
      "sec sec sec"
      "foo foo foo"

    ;
  }

  .menuFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  /* index */
  .navPrincipal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 15vh;
    width: 80vw;
    padding: 1vw;
  }

  .nav {
    transform: translate(0vw, -3vh);
  }

  .indx {
    transform: translate(0vw, 0vh);
  }

  .menuCarrito{
    transform: translate(0vw, -1vh);
  }



  .menuPrincipal {
    background-color: #432818;
    outline: #000 .2vw solid;
  }

  .navegador input {
    width: 20vw;
  }

  .videoIntro {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2vw 1vh;
  }

  .videoIntro iframe {
    background-color: #432818;
    padding: 1vw 2vh;
    border-radius: 1vw;
    width: 60vw;
    height: 25vh;
  }

  .videoIntro p {
    display: none;
  }

  .encabezado {
    font-size: 3vw;
    font-weight: bold;
    margin: .5vw;
  }

  .navHijos,
  .navHijos a,
  .navHijos input {
    font-family: 'Trispace', sans-serif;
    font-weight: bold;
    font-size: 3vw;

  }


  .navHijos,
  .navHijos input {
    color: #000;
    border-radius: 1vw;
    background-color: #cdae98;
    padding: .5vw .5vh;
    font-family: 'Trispace', sans-serif;
    border: none;
  }

  .imagen img {
    width: 20vw;
  }

  .imag img {
    width: 10vw;
  }

  .mov {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    width: 90vw;

  }

  .img {
    padding: 1.5vw;
    width: 35vw;
    height: 25vh;
    background-color: #432818;
    border-radius: 1vw;
  }

  .coctel img,
  .pastel img,
  .frutal img,
  .tostados img,
  .cafe img,
  .mofin img {
    width: 34vw;
    height: 10vh;
    border-radius: 0.8vw;
    border: #000 solid 0.20833333333333334vw;
  }

  .img h3,
  .img p,
  .img span {
    color: #fff;
    font-size: 2.7vw;
  }

  .img span {
    position: relative;
    left: 25vw;
    top: 0.5vh;
    background-color: #000;
    padding: 0.5vw;
    border-radius: 2vw;
  }

  footer {
    background-color: #967055;
  }

  .footerUno ul {
    padding: 1vw 6vh;
    display: none;
    flex-flow: row;
    justify-content: space-evenly;
    font-size: 2.5vw;
  }

  .redes h4 {
    height: 8vh;
    width: 50vw;
    font-size: 6vw;


  }

  .redes img {
    width: 8vw;
    padding: 0.3vh;
  }

  /* Menu */

  .catalogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1vw;
    padding: 0.5vw;
    background-color: #432818;
    border-radius: 0.5vw;

  }

  .padreCatalogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90vw;
  }

  .catalogo li {
    color: #e16309;
    font-size: 5vw;
    margin: 1vw;
  }

  .list li {
    font-size: 3.5vw;
    color: #fff;
  }

  .movi,
  .mov2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 1vw;
    border-radius: 1vw;
    margin: 0.5vw;
  }

  .movi h2,
  .mov2 h2 {
    padding: 1vw;

  }

  .cata img {
    width: 30vw;
    border-radius: 1vw;
  }

  .cata {
    background-color: #cdae98;
    width: 30vw;
    border-radius: 1vw;
    margin: 0.25vw;
  }

  .cata h3,
  .cata p {
    font-size: 5vw;
    padding: 0.5vw;
  }

  /* ubicacion */

  .informacionPrincipal {
    margin: 1vw;
    font-size: 4vw;
    font-weight: bold
  }

  .locales {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 6vw;
  }

  .locales ul {
    background-color: #432818;
    width: 80vw;
    padding: 1vw;
    border-radius: 1.5vw;
    color: #fff;
    font-weight: bold;
  }

  .mapsHijo {
    background-color: #432818;
    padding: 1vw;
    border-radius: 1vw;
    margin: 0.5vw;
  }

  .mapsHijo iframe {
    width: 90vw;
    height: 30vh;
  }

  /* Cuenta */

  .cuentaGrid {
    display: grid;
    grid-template-areas:
      "img img"
      "uno uno"
      "dos dos"


    ;
  }

  .imgGrid {
    grid-area: img;
  }

  .uno {
    grid-area: uno;
  }

  .dos {
    grid-area: dos;
  }

  /* .formPadre {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 14.4vh;
  width: 60vw;
} */

  .formPadre img {
    width: 40vw;
    transform: translate(22vw);
  }

  .formHijo label {
    font-weight: bolder;
    font-size: 4vw;
    width: 30vw;
  }

  .uni {
    background-color: #eddbc9;
    margin: 0.25vw;
    padding: 0.25vw;
    border-radius: 1vw;
    border: none;
  }

  .fondoUno{
    background-color: #432818;
    width: 80vw;
    height: 40vh;
    padding: 1vw;
    color: #000;
    border-radius: 1vw;
    margin: 0.5vw;
    margin-bottom: 11vh;
  }

  .fondoDos{
    background-color: #432818;
    width: 80vw;
    height: 60vh;
    padding: 1vw;
    color: #000;
    border-radius: 1vw;
    margin: 0.5vw;
    margin-bottom: 11vh;

  }

  .formHijo input {
    margin: 0.5vw;
    width: 35vw;
  }

  .registro {
    font-size: 4vw;
    font-weight: bolder;
  }


  .uno .uni {
    margin: 1vh 0vw 0vh 1vw;
  }

  .uno a {
    display: inline-block;
    text-decoration: none;
    color: #5177ba;
    margin-top: 11vh;
    margin-left: 0vw;
    font-size: 4vw;
    font-weight: bold;
  }

  .formHijo h2 {
    margin: 0vh 7.8vw;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 5vw;
  }


  .cuentaHr {
    height: 46.8vh;
    width: .05vw;
    border-width: 0;
    color: #000;
    background-color: #000;
    display: none;
  }

  .flexPadre {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5vh;
  }

  /* Carrito de compras */

  .bordeCarrito {
    background-color: #432818;
    border-radius: 2vw;
    margin: 1vw;
    height: 57.2vh;
    margin-bottom: 19vh;
  }

  .carritoPadre {
    display: flex;
    flex-flow: row wrap;
    font-size: 3vw;
  }

  .pedido {
    margin-top: 5vw;
    font-size: 5vw;
  }

  .dik {
    width: 20vw;
    border: 0.20833333333333334vw #000 solid;
  }

  .particion h2 {
    margin: 1vw;
    padding: 0.5vw;
    background-color: #eddbc9;
    border-radius: 2vw;

  }

}



