
$fondosLibres:(fondo:#15305F, paletaDeColor:#7CC581, menuColorMod:#500F57);

@each $fondos, $color in $fondosLibres {
    .#{$fondos} {
        color: $color;
    }
}

$newStyle:(color:#B739C4, tamFuente:30px);

.colorMod {
    background-color: map-get($map: $newStyle, $key: color );
    font-size: map-get($map: $newStyle, $key: tamFuente);
}