@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:ital,wght@0,100;0,400;1,700&family=Tilt+Prism&display=swap');
/* estilos generales */
*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;

}
a,li{
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #dda15e;
    
}

/* estilo de menu */
.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.inicio__img{
    height: 95vh;
    filter: blur(5px) brightness(50%);
}

.navegador-inicio{

    display: flex;
    justify-content: center;
    height: 7vh;
    background: linear-gradient(to bottom, #283618 70%, #dda15e ) ;
    
}

.navegador-inicio__ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;

}

.navegador-inicio__ul-li{
    position: relative;
    font-size: 20px;
    padding: 7px;
    z-index: 10;
    border-radius: 8px;
    color: #000;
    font-weight: bold;
}

.navegador-inicio__ul-li:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #606c38; 
    animation: menuCarga 1.5s forwards;
    z-index: -1;
    border-radius: 5px;
    
  }


  .navegador-inicio__ul-li--active {
    font-size: 33px;
    font-family: 'Tilt Prism', cursive;
    color: #dda15e;
  }
  
  @keyframes menuCarga {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }




.bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-self: center;
    height: 400px;
    top: 100px;
}

.bienvenida__p{
    width: 600px;
    color: #fefae0;
    font-size: 18px;
}
.bienvenida__img{
width: 200px;
align-self: center;
}

.bienvenida__h1{
    font-family: 'Tilt Prism', cursive;
    text-align: center;
    font-size: 35px;
    color: #dda15e;
}

.bienvenida__div-input{
    margin: 15px 15px 0 0 ;
    border: none;
    padding: 20px;
    width: 200px;
    background-color: #283618;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: 1px;
    transition: .5s;
    color: #fefae0;
}

.bienvenida__div-input:hover{
    background-color: #285318;
}

.bienvenida__div-input--active{
    margin: 15px 15px 0 0 ;
    border: none;
    padding: 20px;
    width: 200px;
    background-color: transparent;
    outline: 2px solid #283618;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: 1s;
    color: #fefae0;
}

.bienvenida__div-input--active:hover{
    background-color: #606c38;
}

/* estilo del menu */

.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.menu__article{
    width: 350px;
    height: 370px;
    perspective: 900px;
    text-align: center;
}
.menu__article img{
    width: 350px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); 
    transform: translateZ(-50px);
    border-radius: 15px;
    filter: brightness(80%);
}
.menu__article h3{
    margin: 5px;
    font-size: 25px;
}
.menu__article p{
    font-size: 18px;
    text-shadow: 2px 2px 4px #0009;
}

/* estilo del footer */

.creditos{
    text-align: center;
}
.creditos span{
    font-weight: bolder;
    color: #d90429;
}
.flecha{
    position: absolute;
    right: 60px;
    margin: 0 0 230px 0;
}



